<div class="pannel">
    <div class="pannel-title">
      修改密码
    </div>
    <form class="info" [formGroup]="updateUserInfo" (ngSubmit)="onSubmit(updateUserInfo,$event)">
      <div>
        <span>原始密码: </span>
        <input type="password" formControlName="oldPassword">
        <div [style.color]="'red'" [hidden]="updateUserInfo.get('oldPassword').valid || updateUserInfo.get('oldPassword').untouched">
          <div  [hidden]="!updateUserInfo.hasError('required','oldPassword')">
            原始密码是必填项
          </div>
        </div>
      </div>
      <div formGroupName="passwordsGroup">
        <div>
          <span>新密码　: </span>
          <input type="password" formControlName="password">
          <div [style.color]="'red'" [hidden]="!updateUserInfo.hasError('minlength',['passwordsGroup','password'])">
              密码最小长度是{{minLength}}
          </div>
        </div>
        <div>
          <span>确认密码: </span>
          <input type="password" formControlName="pconfirm">
          <div style="color:red"  [hidden]="!updateUserInfo.hasError('equal','passwordsGroup')">
              {{updateUserInfo.getError('equal','passwordsGroup')?.descxxx}}
          </div>
        </div>
      </div>
      <div>
        <button 
          mat-raised-button 
          color="accent" 
          type="submit"  
          [disabled]="!updateUserInfo.valid" 
          style="margin-top:10px;">
          修改密码
        </button>
      </div>
    </form>
  </div>
  