.cate-wrap{
    background: #666;
    color: #fff;
    width: calc(100% - 15px );
}
.cate-wrap a{
    color: #fff;
    margin-right: 10px;
}
.cate-wrap a:hover{
    font-weight: bold;
}
.cate-wrap ul{
    padding-top: 20px;
    padding-bottom: 20px;
}

.cate-wrap .cate-item {
    position: relative;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    padding-left: 10px;
}
.cate-item:hover{
    cursor: pointer;
    background-color: #999999;
}