<form [formGroup]="formModel" (submit)="onSubmit()">
    <div class="full-width">
        <input type="text" placeholder="请输入用户名" formControlName="username" autocomplete="off" >
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
          <div *ngIf="username.errors.required">
            Name is required.
          </div>
          <div *ngIf="username.errors.minlength">
            Name must be at least 4 characters long.
          </div>
        </div>
      </div>
  <div formGroupName="dataRanger">
    起始日期:<input matInput type="date" formControlName="from"><br>
    截止日期:<input matInput type="date" formControlName="to">
  </div>
  <div>
    <ul formArrayName="emails">
      <li *ngFor="let e of this.formModel.get('emails').controls;let i=index;">
        <input type="text"  [formControlName]="i">
      </li>
    </ul>
    <button type="button" (click)="addEmail()">增加email</button>
  </div>
  <div>
    <button type="submit">保存</button>
  </div>
</form>