<footer>
  <div class="links w">
    <div style="display: flex;justify-content: center">
      <ul>
        <li><a href="http://fanyi.youdao.com/">有道翻译</a></li>
        <li><a href="https://github.com/">github</a></li>
        <li><a href="https://angular.io/">Angular2</a></li>
        <li><a href="#">税收计算器</a></li>
        <li><a href="#">社保计算器</a></li>
      </ul>
    </div>
  </div>
  <div class="about" style="text-align:center">
    <span>Copyright &copy; 神奇动物商城 All Right Reserved</span>
  </div>
</footer>
