<!-- <div class="load">
    <span class="loading" *ngIf="inLoading"></span>
</div> -->
<div id="myCarousel" class="carousel slide" data-interval="2000"  data-ride="carousel">
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="https://img.zcool.cn/community/0131915543382a0000019ae97863fe.jpg@1280w_1l_2o_100sh.jpg" alt="First slide">
        </div>
        <div class="item">
            <img src="http://img.zcool.cn/community/018bd25543eea50000019ae923e703.jpg@1280w_1l_2o_100sh.png" alt="Second slide">
        </div>
        <div class="item">
            <img src="https://img11.360buyimg.com/cms/jfs/t1/8465/37/3333/80633/5bd6b2a8E511b697b/9d5f1567bc77b9d8.jpg!q90" alt="Third slide">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"  data-slide="prev"></a>
    <a class="carousel-control right" href="#myCarousel"  data-slide="next"></a>
</div>