<div class="pannel">
  <div class="pannel-title">
    我的信息
  </div>
  <div class="info">
    <ul>
      <li>
        <span>用户名：</span>
        <span>{{userInfo.username}}</span>
      </li>
      <li>
        <span>电话：</span>
        <span>{{userInfo.phone}}</span>
      </li>
      <li>
        <span>邮箱：</span>
        <span>{{userInfo.email}}</span>
      </li>
      <li>
        <span>问题：</span>
        <span>{{userInfo.question}}</span>
      </li>
      <li>
        <span>答案：</span>
        <span>{{userInfo.answer}}</span>
      </li>
    </ul>
  </div>
</div>
