<div class="pannel">
  <div class="pannel-title">
    我的信息
  </div>
  <div class="info">
    <form  [formGroup]="updateUserInfo" (ngSubmit)="onSubmit(updateUserInfo,$event)">
      <ul>
        <li>
          <span>用户名：</span>
          <span>{{userInfo.username}}</span>
        </li>
        <li>
          <span>电　话：</span>
          <input type="text" [(ngModel)]="userInfo.phone" formControlName="phone">
        </li>
        <li>
          <span>邮　箱：</span>
          <input type="text" [(ngModel)]="userInfo.email" formControlName="email">
        </li>
        <li>
          <span>问　题：</span>
          <input type="text" [(ngModel)]="userInfo.question" formControlName="question">
        </li>
        <li>
          <span>答　案：</span>
          <input type="text" [(ngModel)]="userInfo.answer" formControlName="answer">
        </li>
      </ul>
      <button mat-raised-button color="accent" type="submit"  [disabled]="!updateUserInfo.valid" style="margin-top:10px;">更新</button>
    </form>
  </div>
</div>
