<div class="w">
    <div class="container clear-margin">
        <div class="row clear-margin">
            <div class="col-lg-3 col-md-3 col-xs-3 clear-margin">
                <app-product-menu></app-product-menu> 
            </div>
            <div class="col-lg-9 col-md-9  col-xs-9 clear-margin">
                <app-carousel></app-carousel>
            </div>
        </div>
        <div class="row clear-margin">
            <app-product-list></app-product-list>
        </div>
    </div>
</div>